
body {
    overflow-x: hidden;
}

@media screen and (max-width: 425px) {


    .name {
        display: flex;
        margin-left: 1rem;     
        margin-right: 0;
    }

    .navbar-links button {
        background: none;
        color: white;
        margin-top: 0;
        padding: 0;
    }

    .navbar-links button a {
        color: white;
    }

    .navbar-links a {
        font-size: 1rem;
    }

    nav li {
        display: none;
    }

    .bar-icon {
        display: flex;
        font-size: 2rem;
        margin-left: 17rem;
        padding-top: 1.4rem;
    }

    .intro {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro h3 {
        font-size: 2rem;
    }

    .intro p{
        font-size: 1.2rem;
    }

    header {
        height: 100vh;
    }

    #aboutme {
       height: 70rem;
    }

    .about {
        margin-left: 1.5rem;
    }

    .about p {
        font-size: 1.2rem;
    }

    .flexbox {
        flex-wrap: wrap;
        padding-top: 4rem;
    }

    #services {
        height: 80rem;
    }

    #services h3 {
        font-size: 2rem;
        padding-top: 5rem;
    }

    .flexbox1 {
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    .web,.mobile {
        width: 70vw;
        height: 60vh;
        margin-top: 4rem;
    }

    #project {
        height: 270rem;
    }

    .technologies h1 {
        font-size: 1.5rem;
        text-align: center;
        padding: 0 2rem;
    }

    .sub-heading p {
        font-size: 1rem;
        padding-right: 3rem;
    }

    .sub-heading h3 {
        font-size: 2rem;
        padding-bottom: 2rem;
    }
 
    .technologies {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .noursydney,.unilag {
        margin: 2rem 0;
    }

    .flexbox3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .leonardo {
        margin-top: 3rem;
    }

    .flex-container {
        justify-content: center;
        align-items: center;
    }

    .flexbox4 {
        margin: 0;
    }

    .tech h1 {
        font-size: 1.4rem;
    }
    
    #contact {
      height: 100rem;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact p {
        font-size: 1.2rem;
    }

    .flexbox2 {
        flex-wrap: wrap;
        padding-top: 0;
        margin-right: 7rem;
    }

    form {
        height: 90vh;
        width: 65vw;
        margin-top: 4rem;
    }
}


@media screen and (max-width: 375px) {
    
    .name {
        margin-left: 1rem;
        margin-right: 0;
    }

    .navbar-links {
        height: 70vh;
    }

    .navbar-links a {
        font-size: 1rem;
    }

    .bar-icon {
       margin-left: 15rem;
    }

    header {
        height: 100vh;
    }

    #aboutme {
       height: 80rem;
    }
    
    .image {
        margin-left: 1.5rem;
        margin-right: 0;
    }

    .about {
        height: 150vh;
    }

    form {
        height: 90vh;
    }

    .tech {
        text-align: center;
        padding: 0 2rem;
    }

    .web,.mobile  {
        height: 50vh;
    }

    .infos {
        margin-top: 3rem;
    }

    #contact {
        height: 100rem;
    }
}
    
    
@media screen and (max-width: 320px) {
    
    .bar-icon {
        margin-left: 10rem;
    }

    header {
        height: 150vh;
    }

    .intro h1 {
        font-size: 2rem;
    }

    .intro h3,.intro p {
        font-size: 1rem;
    }

    .intro {
        display: flex;
        flex-direction: column;
        text-align: center;    
    }

    #aboutme {
        height: 70rem;
    }

    .about {
        height: 100vh;
        margin-left: 0;
    }

    #services h3 {
        font-size: 1.7rem;
    }

    .web,.mobile {
        height: 55vh;
    }

    .insurance img {
        width: 90vw;
    }

    .insurance {
        width: 90vw;
    }

    .hotels img {
        width: 90vw;
    }

    .hotels {
        width: 90vw;
    }

    .leonardo img {
        width: 90vw;
    }

    .leonardo {
        width: 90vw;
        height: 90vh;
    }

    .noursydney img {
        width: 90vw;
    }

    .noursydney {
        width: 90vw;
    }

    .unilag img {
        width: 90vw;
    }

    .unilag {
        width: 90vw;
    }

    .guessgame img {
        width: 90vw;
    }

    .guessgame {
        width: 90vw;
    }

    .todolist img {
        width: 90vw;
    }

    .todolist {
        width: 90vw;
    }

    .infos p{
        font-size: 1rem;
    }

    .info3 p {
        padding-left: 6rem;
    }

    
}