* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    overflow-x: hidden;

}

header {
    /* background-image: url('images/Background-Image.jpg'); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-links a {
    padding: 1rem 1rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links button {
    margin-left: 10rem;
    margin-top: 1rem;
    padding: 1rem 1rem;
    background: white;
    outline: none;
    border: none;
}

.navbar-links button a {
    color: black;
}

.navbar {
    display: flex;
}

.name {
    font-size: 1.5rem;
    margin-left: 5rem;
    margin-right: 20rem;
    margin-top: 1rem;
}

span {
    color: white;
    font-weight: bold;
}

#edit {
    color: white;
}

.bar-icon {
    display: none;
    border: none;
    cursor: pointer;
    background: none;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
}

.intro h3 {
   color: white;
   text-transform: capitalize;
   font-size: 3rem;
   letter-spacing: 0.2px;
   font-family: sans-serif;
}

.intro h1 {
    font-size: 5rem;  
}

.intro p{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.links {
    margin-top: 1rem;
}

.links a {
    color: white;
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

#aboutme {
    background-color: black;
    height: 50rem;
    color: white;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

.about h3 {
    color: #ffffff;
    font-size: 3rem;
    font-family: monospace;
    padding-bottom: 1rem;
}

.about p {
    font-size: 1rem;
    padding-top: 0.1rem;
}

#services {
    background-color: black;
    height: 40rem;
}

#services h3 {
     color: #ffffff;
    font-size: 3rem;
    font-family: sans-serif;
    padding: 2rem 5rem;
}

.web {
    width: 25rem;
    height: 17rem;
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
}

.web .fa-code {
    font-size: 3rem;
    color: black;
}

.web h4 {
    color: black;
    font-size: 1.3rem;
    padding: 1rem 0;
    font-family: serif;
    font-weight: bold;
}

.web p {
    color: black;
    font-size: 1rem;
    font-weight: 400;
}

.mobile {
    width: 25rem;
    height: 17rem;
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
}

.mobile .fa-app-store {
    font-size: 3rem;
    color: black;
}

.mobile h4 {
    color: black;
    font-size: 1.3rem;
    padding: 1rem 0;
    font-family: serif;
    font-weight: bold;
}

.mobile p {
    color: black;
    font-size: 1rem;
    font-weight: 400;
}

.flexbox1 {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}

.web, .mobile {
    margin: 0 5rem;
}

#project {
    background-color: black;
    height: 140rem;
}

.sub-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.sub-heading h3 {
    color: #ffffff;
    font-size: 3rem;
}

.sub-heading p {
    color: white;
    font-size: 1.3rem;
}

.insurance{
    width: 20rem;
    height: 27rem;
    background-color: aliceblue;
    margin-right: 2rem;
}

.insurance img {
    width: 20rem;
}

.insurance h4 {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.8rem;
    color: #032557;
}

.insurance p {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hotels {
    width: 20rem;
    height: 27rem;
    background-color: aliceblue;
}

.hotels img {
    width: 20rem;
}

.hotels h4 {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.8rem;
    color: #032557;
}

.hotels p {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.leonardo {
    width: 20rem;
    height: 27rem;
    background-color: aliceblue;   
    margin-left: 2rem;
}

.leonardo h4 {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #032557; 
}

.leonardo img {
    width: 20rem;
}

.leonardo p {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;  
}

.flexbox3 {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.noursydney {
    width: 20rem;
    height: 27rem;
    background-color: aliceblue;
}

.noursydney img {
  width: 20rem;
}

.noursydney h4 {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #032557; 
}

.noursydney p {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.unilag {
    width: 20rem;
    height: 27rem;
    background-color: aliceblue;
    margin-left: 2rem;
}

.unilag img {
    width: 20rem;
}

.unilag h4 {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #032557; 
}

.unilag p {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.technologies h1 {
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.technologies img {
    width: 10rem;
    margin: 2rem 0;
}

.tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.tech h1 {
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.tech img {
    width: 20rem;
}

.guessgame {
    width: 20rem;
    height: 24rem;
    background-color: aliceblue;
}

.guessgame img {
    width: 20rem;
}

.guessgame h4 {
    color: #03275e;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.8rem;
}

.guessgame p {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.todolist {
    width: 20rem;
    height: 24rem;
    background-color: aliceblue;
    margin-left: 2rem;
}

.todolist img {
    width: 20rem;
}

.todolist h4 {
    color: #03275e;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.8rem;
}

.todolist p {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.flexbox4 {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

#contact {
    background-color:black;
    height: 55rem;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
}

.contact h3 {
    color: white;
    padding: 1rem 0;
    font-size: 2rem;
}

.contact p {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.info {
    position: relative;
}

.info span {
    position: absolute;
    top: 0;
    left: 1rem;
}

.info .fa-map-pin {
    color: black;
    background-color: white;
    padding: 1.2rem 1.5rem;
    font-size: 2rem;
    border-radius: 50%;
}

.info h4 {
    color: white;
    font-size: 2rem;
    margin-left: 6.5rem;
    font-weight: 600;
}

.info p {
    color: white;
    padding-left: 6.5rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.info2 {
    position: relative;
    margin-top: 2rem;
}

.info2 h4 {
    color: white;
    font-size: 2rem;
    margin-left: 6.5rem;
    font-weight: 600;
}

.info2 .fa-phone {
    color: black;
    background-color: white;
    padding: 1.5rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 50%;
}

.info2 p {
    color: white;
    padding-left: 6.5rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.info2 span {
    position: absolute;
    top: 0;
    left: 1rem;
}

.info3 {
    position: relative;
    margin-top: 2rem;
}

.info3 h4 {
    color: white;
    font-size: 2rem;
    margin-left: 6.5rem;
    font-weight: 600;
}

.info3 p {
    color: white;
    padding-left: 6.5rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.info3 .fa-envelope {
    color: black;
    background-color: white;
    padding: 1.5rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 50%;
}

.info3 span {
    position: absolute;
    top: 0;
    left: 1rem;
}

.flexbox2 {
    display: flex;
    justify-content: space-around;
    padding-top: 7rem;
}

.infos {
    padding-top: 4rem;
}

form {
    background-color: white;
    width: 35vw;
    height: 75vh;
    padding: 2rem;
}

input {
    border: none;
    background: none;
    width: 100%;
    border-bottom: 2px solid black;
    outline: none;
}

form h2 {
    color: black;
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 2rem;
}

#text {
    font-size: 1.3rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

#mail {
    font-size: 1.3rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

#message {
    font-size: 1.3rem;
    padding: 1rem 0;
    margin-bottom: 2rem; 
}

form button {
    padding: 1rem 2rem;
    color: white;
    background: black;
    font-size: 1.3rem;
    font-weight: bold;
    outline: none;
    border: none;
}

input:focus::placeholder {
    color: white;
    font-size: 0.85rem;
    pointer-events: none;
    cursor: text;
    transition: .5s ease-in-out;
}