


@media screen and (max-width: 1024px) {
    
    .name {
        margin-left: 2rem;
        margin-right: 10rem;
    }

    .navbar-links button {
        margin-left: 4rem;
    }

    header {
        height: 80vh;
    }

    .intro {
       padding-top: 7rem;
       padding-right: 4rem;
    }

    .image {
        display: none;
    }

    .about {
        width: 80%;
    }

    .about p {
        font-family: 1rem;
    }

    .insurance {
        margin-right: 0.5rem;
    }

    .leonardo {
        margin-left: 0.5rem;
    }

    form {
        height: 70vh;
    }
}


@media screen and (max-width: 912px) {
    
    header {
        height: 70vh;
    }

    .about {
        margin-top: 0;
    }

    .image {
        margin-top: 2rem;
    }

    .flexbox3 {
        flex-wrap: wrap;
    }

    #project {
        height: 160rem;
    }

    .leonardo {
        margin-top: 2rem;
    }

    .insurance {
        margin-right: 2rem;
    }

    form {
        height: 35vh;
    }

}


@media screen and (max-width: 853px) {
    
    .name {
        margin-left: 1rem;
        margin-right: 3rem;
    }


    .intro {
        padding-top: 7rem;
        padding-right: 1rem;
    }

    .about p {
        font-size: 1rem;
    }

    .contact p {
        font-size: 1rem;
    }

    form {
        height: 40vh;
    }
}


@media screen and (max-width: 820px) {

    .name {
        display: block;
        margin-left: 2rem;
        margin-right: 0;
    }

    .navbar-links {
        display: none;
        width: 30vw;
        height: 40vh;
        text-align: center;
        background-color: rgb(5, 1, 27);
        position: absolute;
        top: 80px;
        right: 1rem;
        z-index: 1;
    }
    
    .navbar-links a {
        display: block;
        color: white;
        padding-top: 1rem;
    }

    .show {
        display: block;
    }

    .intro {
        padding-top: 6rem;
    }

    .bar-icon {
        font-size: 3rem;
        display: flex;
        margin-left: 35rem;     
        
    }

    form {
        height: 42vh;
    }

    .web p {
        font-size: 0.9rem;
    }

    .mobile p {
        font-size: 0.9rem;
    }

    }


@media screen and (max-width: 768px) {
    
    .bar-icon {
        color: white;
        margin-left: 35rem;
        padding-top: 1rem;
    }

    .navbar-links button {
        background: none;
        color: white;
        margin-top: 0;
        padding: 0;
    }

    .navbar-links button a {
        color: white;
    }

    .navbar-links {
        height: 65vh;
    }

    .navbar-links button{
        margin-left: 0;
    }

    .name {
        margin-top: 1.5rem;
    }

    header {
        height: 100vh;
    }

    .intro {
        padding-top: 5rem;
    }

    .about p {
        font-size: 0.9rem;
    }

    .sub-heading p {
        font-size: 1rem;
    }

    form {
        height: 90vh;
    }
}

 
@media screen and (max-width: 540px){
    
    .bar-icon {
        margin-left: 22rem;
        padding-top: 1.5rem;
        font-size: 2rem;
    }

    .name {
        margin-left: 1rem;
        margin-right: 0;
    }

    .navbar-links {
        width: 40vw;
        right: 1rem;
    }

    header {
        height: 70vh;
    }

    form {
        width: 50vw;
        height: 90vh;
    }

    #aboutme {
        height: 50rem;
    }

    .flexbox {
        flex-direction: column;
    }

    .about {
        padding-left: 2rem;
        padding-right: 4rem;
        width: 100%;
    }

    .image {
        display: none;
    }

    .web,.mobile {
        width: 60vw;
        height: 50vh;
    }

    .sub-heading p {
        text-align: center;
        padding: 0 3rem;
    }

    #project {
        height: 250rem;
    }

    .hotels {
        margin-top: 5rem;
        margin-left: 0;
        margin-right: 0;
    }

    .insurance {
        margin: 0;
    }

    .flexbox3 {
        justify-content: center;
        align-items: center;
    }

    .flex-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .noursydney,.unilag {
        margin: 0;
    }

    .unilag {
        margin-top: 5rem;
    }

    .flexbox4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .todolist {
        margin: 0;
    }

    .guessgame {
        margin-bottom: 4rem;
    }

    .contact p {
        padding: 0 4rem;
        text-align: center;
    }

    .flexbox2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contact {
        height: 150rem;
    }

    form {
        margin-top: 10rem;
    }

    
}



